@mixin publicStyle {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.accountList {
    color: #333;
    height: 100%;
    display: flex;
    flex-direction: column;

    .accountListContent {
        flex: 1 1 0;
        @include publicStyle;
        .accountListTable{
            height: 95%;
        }
    }
}